<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="/css/demopolymer-miapp.css">
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-info">Obtener clientes</button>
        <button on-click="anadirClientes" class="btn btn-info">Añadir clientes</button>
        <button on-click="obtenerNombres" class="btn btn-info">Obtener nombres</button>
        <table class="table table-striped col-lg-12 col-xs-12" hidden$={{!datosCargados}}>
            <thead>
  <!--              <th>CustomerID</th>
                <th>CompanyName</th>
                <th>ContactName</th>  -->
                <th>CustomerID</th>
                <th>Name</th>
                <th>Last Name</th>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
<!--                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
                <td>
                  [[item.ContactName]]
                </td> -->
                <td>
                  [[item.idCliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          datosCargados: {
            type: Boolean,
            value: false
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
/**        //El false significa que se haga la llamada en síncrono. (True significa asíncrono)
        request.open("GET",'http://services.odata.org/V4/Northwind/Northwind.svc/Customers',false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        this.datosCargados = true;
        console.log(this.clientes); **/


        //Codigo para ir contra mi api
        request.open("GET",'http://localhost:3000/movimientos',false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        this.datosCargados = true;
      //  console.log(this.clientes);
      }

      obtenerNombres(){
        var request = new XMLHttpRequest();
        request.open("GET",'http://localhost:3000/movimientosMongo',false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        this.datosCargados = true;
      //  console.log(this.clientes);
      }

      anadirClientes(){
      var request = new XMLHttpRequest();
/**        //El false significa que se haga la llamada en síncrono. (True significa asíncrono)
        request.open("POST",'http://services.odata.org/V4/Northwind/Northwind.svc/Customers',false);
        request.setRequestHeader("Content-Type","application/json");
        request.setRequestHeader("Accept","application/json");
        var nuevoCliente = {"CustomerID":"99999","ContactName":"Pepe Martinez","CompanyName":"BBVA TechU"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        console.log(JSON.parse(request.responseText)); **/

        request.open("POST",'http://localhost:3000/movimientos',false);
        request.setRequestHeader("Content-Type","application/json");
        request.setRequestHeader("Accept","application/json");
        var nuevoCliente = {
          "idCliente": "0004",
          "nombre": "Paco",
          "apellido": "Hernandez de Polymer",
          "listado": [
              {
                  "fecha": "26/11/2017",
                  "importe": "33.95",
                  "categoria": "A"
              },
              {
                  "fecha": "27/11/2017",
                  "importe": "12.95",
                  "categoria": "B"
              }
          ]
        };
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        //console.log(JSON.parse(request.responseText));
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
