<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ruth-login">
  <template>
    <link rel="stylesheet" href="/css/demopolymer-miapp.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <h1 class="form-signin-heading">Haga Login</h1>
        <label for="inputUser" class="sr-only">Usuario</label>
        <input type="text" id="inputUser" class="form-control" placeholder="Usuario" value={{usuario::input}} autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" value={{password::input}}>
        <button class="btn btn-lg btn-primary btn-block" on-click="validar">Login</button>
      </div>

      <div class="container">
        <label> [[mensaje]] </label>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RuthLogin extends Polymer.Element {
      static get is() { return 'ruth-login'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          password: {
            type: String
          },
          mensaje: {
            type: String,
            value: 'Esperando datos...'
          }
        };
      }
      validar()
      {
        this.mensaje = "Cambiando";
        if (this.usuario.length>4)
          this.mensaje = "Login correcto.";
        else {
          this.mensaje = "El usuario debe tener más de 4 letras";
        };
      }
    }

    window.customElements.define(RuthLogin.is, RuthLogin);
  </script>
</dom-module>
