<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ruth-visor">
  <template>
    <link rel="stylesheet" href="/css/demopolymer-miapp.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/163/163834.svg"/>
        <button on-click="incrementar" class="btn btn-info col-lg-4 col-xs-12">[[prop1]]</button>
        <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
                <th>Nombre</th>
                <th>Color</th>
                <th>Animal</th>
                <th>Clickado</th>
            </thead>
            <tbody>
              <tr>
                <td>Maria</td>
                <td>Rosa</td>
                <td>Perro</td>
                <td>[[prop2]]</td>
              </tr>
              <tr>
                <td>Pedro</td>
                <td>Morado</td>
                <td>Gato</td>
                <td>[[prop2]]</td>
              </tr>
              <tr>
                <td>Luis</td>
                <td>Rojo</td>
                <td>Iguana</td>
                <td>[[prop2]]</td>
              </tr>
            </tbody>
          </table>
        </diV>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RuthVisor extends Polymer.Element {
      static get is() { return 'ruth-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Clicka'
          },
          prop2: {
            type: Number,
            value: 2
          }
        };
      }
      incrementar()
      {
        this.prop2 = this.prop2+1;
      }
    }

    window.customElements.define(RuthVisor.is, RuthVisor);
  </script>
</dom-module>
